/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */
   .container{
      display:flex;
   }
   nav a{
      flex:1;
   }
   .center{
      justify-content:center;
      align-items:center;
   }